@use 'color' as *;
@use 'mixin' as *;

.main {
    display: grid;
    place-items: center;

    // .main__ad
    &__ad {
        display: grid;
        place-items: center;
    }

    // .main__title
    &__title {
        color: dark($accent, 20);
        font-size: 2rem;
        font-weight: bold;
    }

    // .main__image
    &__image {
        user-select: none;
    }

    // .main__menu
    &__menu {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
        grid-auto-flow: column;
        gap: 10px;
    }

    // .main__link
    &__link {
        @include button;
    }
}