@use 'color' as *;

@mixin button {
    text-decoration: none;

    background-color: $secondary;
    color: dark($accent, 20);
    // border: 1px solid $secondary;
    padding: 10px;
    border-radius: 5px;

    user-select: none;
    font-size: 1rem;

    text-align: center;

    &:hover {
        background-color: dark($accent, 20);
        color: $secondary;
    }

    &_active {
        background-color: dark($accent, 20);
        color: $secondary;
    }

    &_cancel {
        color: $cancel;
        background-color: $secondary;
        border: 1px solid $cancel;

        &:hover {
            background-color: $cancel;
            color: $secondary;
        }
    }

    &_complete {
        color: $complete;
        background-color: $secondary;
        border: 1px solid $complete;

        &:hover {
            background-color: $complete;
            color: $secondary;
        }
    }
}

@mixin input {
    outline: none;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $secondary;

    &:hover {
        border-color: $accent;
    }
}